<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.aia.dmd.ipro.file.mapper.FileMapper">

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO files (
            ref_table, ref_id, original_name, save_name, size, extension, path, created_by
        ) VALUES (
            #{refTable}, #{refId}, #{originalName}, #{saveName}, #{size}, #{extension}, #{path}, #{createdBy}
        )
    </insert>

    <select id="findByRef" parameterType="map" resultType="CamelCaseMap">
        SELECT 
            id, ref_table, ref_id, original_name, save_name, size, extension, path, created_at, created_by
        FROM files 
        WHERE ref_table = #{refTable} AND ref_id = #{refId}
        ORDER BY id ASC
    </select>

    <select id="findById" parameterType="long" resultType="CamelCaseMap">
        SELECT 
            id, ref_table, ref_id, original_name, save_name, size, extension, path, created_at, created_by
        FROM files 
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM files WHERE id = #{id}
    </delete>

    <delete id="deleteByRef">
        DELETE FROM files WHERE ref_table = #{refTable} AND ref_id = #{refId}
    </delete>
</mapper>
