spring:
  application:
    name: thymeleaf-template
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jackson:
    time-zone: Asia/Seoul

mybatis:
  mapper-locations: classpath:mapper/*.xml

